<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script>
        //Question 1.输出入站口号
      //  alert("hello,world");

        //Question 2.利用JavaScript计算出：[(23+7)x12-8]÷6的值
       //var sum = ((23 + 7) * 12 - 8) / 6;
        //alert(sum);

        //Question 3.利用循环，计算出1+3+5+7+...+99=?
        var addend = 0;

        for (var i = 1; i < 100; i=i+2)
        {
                addend += i;
        }
         alert(addend);


    </script>
</head>

<body>
    @RenderBody()
</body>
</html>
        